{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row" style="margin: 2rem;">
        <div class="col-sm">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h1 class="card-title">{{ table.title }}</h1>
                    <p class="card-text">{{ table.homework_text }}</p>
                </div>
            </div>
        </div>
        {% if table.homework_img %}
            <div class="col-sm">
                <div class="card" style="width: 100%;">
                    {% for i in table.homework_img %}
                        <img src="{{ url_for('static', filename='images' + '/' +  table.owner_id|string + '/' + i.hash) }}"
                                style="margin: 2rem; width: 90%;"
                                class="rounded mx-auto d-block">
                        <a href="/picture/{{ i.hash }}" class="badge badge-info">Оригинальное изображение</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">

        <div class="col-sm">
            <form method="post" class="row" style="margin-top: .3rem;">
            {{ form.submit(class="btn btn-success", style="width: 100%;") }}
            {{ form.id(type="hidden", value="hide") }}
            </form>
        </div>
        <div class="col-sm">
            <form method="post" class="row" style="margin-top: .3rem;">
            {{ form.delete(class="btn btn-danger", style="width: 100%;") }}
            {{ form.id(type="hidden", value="delete") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}