{% extends "main.html" %}
{% block content %}
<div class="card" style="width:75%; margin: auto; margin-top: 5%;">
    <div class="card-body">
        <h3 class="card-title" style="margin-bottom: 2rem;">{{ user.name}} {{user.surname }}</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5><a href="https://t.me/SchoolForHomeworkBot"><i class="fa fa-telegram" aria-hidden="true"></i></a>Токен для бота в ТГ:</h5>
                    <p>
                        {{ user.token }}
                    </p>
                    <a href="/user?token=1" class="badge badge-primary" style="width: 6rem; margin-bottom: 1.5rem;">
                            Сбросить
                        </a>
                </div>

                <div class="col">
                    {% if user.is_admin %}
                    <ul class="nav me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/admin" class="btn btn-success px-2" style="width: 10rem; margin: auto; margin-bottom: .5rem;">Админка</a>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/logout" class="btn btn-danger px-2" style="width: 10rem; margin: auto;">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
{% endblock %}